<%= form_with(model: recipient) do |form| %>
  <% if recipient.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipient.errors.count, "error") %> prohibited this recipient from being saved:</h2>

      <ul>
        <% recipient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :organization, style: "display: block" %>
    <%= form.text_field :organization %>
  </div>

  <div>
    <%= form.label :organization_website, style: "display: block" %>
    <%= form.text_field :organization_website %>
  </div>

  <div>
    <%= form.label :personalization_hints, style: "display: block" %>
    <%= form.textarea :personalization_hints %>
  </div>

  <div>
    <%= form.label :type_of_recipient, style: "display: block" %>
    <%= form.select :type_of_recipient, Recipient.type_of_recipients.keys  %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
