<div id="<%= dom_id recipient %>">
  <p>
    <strong>Name:</strong>
    <%= recipient.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= recipient.title %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= recipient.organization %>
  </p>

  <p>
    <strong>Organization website:</strong>
    <%= recipient.organization_website %>
  </p>

  <p>
    <strong>Personalization hints:</strong>
    <%= recipient.personalization_hints %>
  </p>

  <p>
    <strong>Type of recipient:</strong>
    <%= recipient.type_of_recipient %>
  </p>

</div>
