<div id="<%= dom_id sender %>">
  <p>
    <strong>Name:</strong>
    <%= sender.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= sender.title %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= sender.organization %>
  </p>

  <p>
    <strong>Organization website:</strong>
    <%= sender.organization_website %>
  </p>

  <p>
    <strong>Contact details:</strong>
    <%= sender.contact_details %>
  </p>

</div>
